---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Hey, I'm Justin; aka Flabbyaxe. Welcome to my corner of the internet."
	pubDate={new Date('May 27 2026')}
	heroImage="https://assets.farrisfam.org/AG9A3628.webp"
>
	<p>
		Hey there! I'm <strong>Justin</strong>, though around the internet you might know me as Flabbyaxe. 
		Depending on who you ask, what I "do" might get you a different answer, but the way I'd put it 
		is that I'm an aspiring tech worker who's figuring it out one problem at a time.
	</p>

	<p>
		If there was one thing that defines me, it's that once I set my mind to something, I'm seeing it 
		through. Whether it's debugging a program, or troubleshooting something that's been driving me 
		up the wall, or even nailing a new recipe, I'm the kind of person who likes to get things 
		<em>fixed</em> and get things <em>done</em>.
	</p>

	<p>
	    Most of my work is often done while I'm homelabbing. I currently am working on getting it all 
	    documented, either here through story on my <a href="/blog">blog</a> or in my 
		<a href="https://github.com/Flabbyaxe272/homelab">GitHub repo</a>. But I've set up quite the 
		system, with self hosted SSO through Authentik, 
					
	</p>

	<p>
		When I'm not knee-deep in tech stuff, you'll probably find me in the kitchen trying out a new 
		recipe for my <a href="https://recipes.farrisfam.org">online recipebook</a>, hanging out with 
		my family, setting up camp under the stars, rolling dice at a Dungeons & Dragons table, or 
		losing track of time in a good video game. Yeah, the usual.
	</p>

	<p>
		So why the blog? Honestly, I wanted to stand out a little. And I wanted to learn something new. 
		There's a lot of noise out there, and I figured the best way to cut through it was to just share 
		what I actually know, what I've actually run into, and how I worked through it. If something tripped 
		me up and I found a way past it, chances are someone else is hitting the same wall. And maybe 
		something I write saves them a few hours of frustration.
	</p>

	<p>
		Whether you're here for the tech, the personal stuff, or you just stumbled in: Welcome! 
		Hope you find something useful, or at least something worth reading. Stick around.
	</p>
</Layout>